@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html.dark body {
  background-color: #111827; /* gray-900 */
  color: #fff;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
